.hero {
  background: linear-gradient(rgba(255, 228, 170, .1), rgba(255, 228, 170, .1)) , url('../../images/hero-img.jpg') ;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about {
  background: linear-gradient(rgba(255, 228, 170, .1), rgba(255, 228, 170, .1)) , url('../../images/about-hero.jpg') ;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}