.about {

  &__section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 8rem;
  }

  &__paragraph {
    font-size: 1.8rem;
    width: 40vw;
    line-height: 4rem;
    color: #222;
    margin-bottom: 1rem;
  }
}

@media only screen and (max-width: 100rem) {
  .about {
  
    &__paragraph {
      width: 70vw;
    }
  }
}

@media only screen and (max-width: 50rem) {
  .about {
  
    &__paragraph {
      width: 85vw;
    }
  }
}