.header {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  padding: 1px;
  background-color: white;
  box-shadow: 1px 3px 8px 3px rgba(8, 8, 8, 0.08);
}

.nav {

  &__list {
    display: flex;
    &--item {
      font-size: 2rem;
      list-style: none;
      padding: 1rem;
      
      a {
        padding-bottom: .7rem;
        text-decoration: none;
        color: var(--secondary-dark-2);
        border-bottom: 0px  transparent;
        transition: border-bottom .4s;
      }
      a:hover {
        cursor: pointer;
      border-bottom: 2px solid var(--primary-color);
      }
    }
    
  }
}

@media only screen and (max-width: 600px) {
  .nav {
    &__list {
      &--item {
        padding: .6rem;
      }
    }
  }
}
@media only screen and (max-width: 400px) {
  .nav {
    &__list {
      &--item {
        font-size: 1.6rem;
      }
    }
  }
  .logo {
    width: 15rem;
  }
}